{% extends 'base.html.twig' %}

{% block title %}RapportVisite index{% endblock %}

{% block body %}
    <h1>RapportVisite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>RapNum</th>
                <th>VisMatricule</th>
                <th>PraNum</th>
                <th>RapBilan</th>
                <th>RapMotif</th>
                <th>RapCoefconf</th>
                <th>RapStatut</th>
                <th>RapDatevisite</th>
                <th>RapDaterapport</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rapport_visite in rapport_visites %}
            <tr>
                <td>{{ rapport_visite.rapNum }}</td>
                <td>{{ rapport_visite.visMatricule }}</td>
                <td>{{ rapport_visite.praNum }}</td>
                <td>{{ rapport_visite.rapBilan }}</td>
                <td>{{ rapport_visite.rapMotif }}</td>
                <td>{{ rapport_visite.rapCoefconf }}</td>
                <td>{{ rapport_visite.rapStatut ? 'Yes' : 'No' }}</td>
                <td>{{ rapport_visite.rapDatevisite ? rapport_visite.rapDatevisite|date('Y-m-d') : '' }}</td>
                <td>{{ rapport_visite.rapDaterapport ? rapport_visite.rapDaterapport|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('rapport_visite_show', {'rapNum': rapport_visite.rapNum}) }}">show</a>
                    <a href="{{ path('rapport_visite_edit', {'rapNum': rapport_visite.rapNum}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rapport_visite_new') }}">Create new</a>
{% endblock %}
