{% extends 'base.html.twig' %}

{% block title %}RapportVisite{% endblock %}

{% block body %}
    <h1>RapportVisite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>RapNum</th>
                <td>{{ rapport_visite.rapNum }}</td>
            </tr>
            <tr>
                <th>VisMatricule</th>
                <td>{{ rapport_visite.visMatricule }}</td>
            </tr>
            <tr>
                <th>PraNum</th>
                <td>{{ rapport_visite.praNum }}</td>
            </tr>
            <tr>
                <th>RapBilan</th>
                <td>{{ rapport_visite.rapBilan }}</td>
            </tr>
            <tr>
                <th>RapMotif</th>
                <td>{{ rapport_visite.rapMotif }}</td>
            </tr>
            <tr>
                <th>RapCoefconf</th>
                <td>{{ rapport_visite.rapCoefconf }}</td>
            </tr>
            <tr>
                <th>RapStatut</th>
                <td>{{ rapport_visite.rapStatut ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>RapDatevisite</th>
                <td>{{ rapport_visite.rapDatevisite ? rapport_visite.rapDatevisite|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>RapDaterapport</th>
                <td>{{ rapport_visite.rapDaterapport ? rapport_visite.rapDaterapport|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rapport_visite_index') }}">back to list</a>

    <a href="{{ path('rapport_visite_edit', {'rapNum': rapport_visite.rapNum}) }}">edit</a>

    {{ include('rapport_visite/_delete_form.html.twig') }}
{% endblock %}
