{% extends 'base.html.twig' %}

{% block title %}Visiteur index{% endblock %}

{% block body %}
    <h1>Visiteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>VisMatricule</th>
                <th>VisNom</th>
                <th>VisPrenom</th>
                <th>VisAdresse</th>
                <th>VisCp</th>
                <th>VisVille</th>
                <th>VisLogin</th>
                <th>VisMdp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visiteur in visiteurs %}
            <tr>
                <td>{{ visiteur.visMatricule }}</td>
                <td>{{ visiteur.visNom }}</td>
                <td>{{ visiteur.visPrenom }}</td>
                <td>{{ visiteur.visAdresse }}</td>
                <td>{{ visiteur.visCp }}</td>
                <td>{{ visiteur.visVille }}</td>
                <td>{{ visiteur.visLogin }}</td>
                <td>{{ visiteur.visMdp }}</td>
                <td>
                    <a href="{{ path('visiteur_show', {'visMatricule': visiteur.visMatricule}) }}">show</a>
                    <a href="{{ path('visiteur_edit', {'visMatricule': visiteur.visMatricule}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('visiteur_new') }}">Create new</a>
{% endblock %}
